<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Sistema'">Sistema</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/alerts.js"></script>
    <script src="/js/cpfValidade.js"></script>
    <script src="/js/mascaras.js"></script>

    <style>
        html, body {
          height: 100%;
          margin: 0;
        }
    </style>

</head>
<body>

<!-- Header -->
<div th:replace="shared/fragments/header :: header"></div>

<div class="d-flex flex-grow-1">

    <!-- Sidebar -->
    <div th:replace="shared/fragments/sidebar :: sidebar"></div>

    <!-- Conteúdo -->
    <main class="flex-grow-1 p-4" style="background-color: #f8f9fa;">
        <div th:insert="~{::content}"></div>
    </main>

</div>

<!-- Footer -->
<div th:replace="shared/fragments/footer :: footer"></div>

</body>
</html>