<nav th:fragment="sidebar" class="bg-light border-end h-100" style="width: 250px;">
    <ul class="nav flex-column p-3">
        <li><a href="/home" class="nav-link active">Início</a></li>
        <li><a href="/admin/alunos" class="nav-link">Alunos</a></li>
        <li><a href="/admin/professores" class="nav-link">Professores</a></li>
        <li><a href="/admin/usuarios" class="nav-link">Usuarios</a></li>
        <li><a href="/admin/disciplinas" class="nav-link">Disciplinas</a></li>
        <li><a href="/admin/turmas" class="nav-link">Turmas</a></li>
        <li><a href="/admin/turma-alunos" class="nav-link">Turma Alunos</a></li>
        <li><a href="/admin/turma-disciplinas" class="nav-link">Turma Disciplinas</a></li>
        <li><a href="/logout" class="nav-link text-danger">Sair</a></li>
    </ul>
</nav>
